#pragma code_page(65001)

#define RT_MANIFEST 24
1 RT_MANIFEST "app.manifest"
1 ICON "src/img/logo.ico"

// 版本资源定义
1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0" // 中文 (简体) / 字符集 Unicode
        BEGIN
            VALUE "CompanyName", "衢州御风科技有限公司"
            VALUE "FileDescription", "御风 Simpleroute 静态路由管理工具"
            VALUE "FileVersion", "0.1.0"
            VALUE "InternalName", "simpleroute"
            VALUE "LegalCopyright", "Copyright (C) 2026 衢州御风科技有限公司。保留所有权利。"
            VALUE "OriginalFilename", "simpleroute.exe"
            VALUE "ProductName", "御风 Simpleroute"
            VALUE "ProductVersion", "0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
